body{
	text-align: center;
}
h1{

}
li{
	display: block;
	width: 150px;
	font-size: 22px;
}
#formu{
	text-align: left;
}
#aliniar{
	text-align: left;
}
#row{
	display: inline-block;
	list-style-type:none;
}
.navb {
	background-color: #B13535;
	border-color: #080808;
}
#logo{
	width:40px;
	height:50px;
	border: none;
}
#fotos{
	width:109px;
	height:20px;
	border: none
}
img{
	border: none;
}
ul{
	margin: 0;
	padding: 0;
}
#ele{
	display: inline-block;
	list-style-type:none; 
	width: 18%;
	background-color: #0CA325;
	padding: .5em 1em;
	border-radius: 80% 80% 100% 100%;

}
/*td{
	width:150px;
	font-weight: bold;
}*/
a{
	color: #03182B;
	padding-left: center;
}
label{
	display: block;
	margin-bottom: 20px;
	color: rgb(27, 26, 12);
}

input:required{
	background: url("mandatory.png") no-repeat 96% center white;
	outline: 2px solid transparent;
}
input:valid{
	background: url("valid.png") no-repeat 96% center white;
	outline: 2px solid green;
}
input:invalid:focus{
	background: url("invalid.png") no-repeat 96% center white;
	outline: 2px solid red;
}
input[type="submit"]:valid{
	outline-color: transparent;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
	border-radius: 2px;
	background-image: none;
	padding-right: 8px;
}
input[type="submit"]:valid:hover,
input[type="submit"]:valid:focus{
	cursor: pointer;
	box-shadow: none;
}
li{
	display: inline-block;
	list-style-type:none; 
	/*width: 30%;
	padding: .5em 1em;
	/*border-radius: 80% 80% 100% 100%;
	background-color: #0CA325;*/
}
#caja{
	background: #f0f0f0;
	width: 200px;
	border: 1px solid white;
	margin: 200px auto;
	padding: 1em;
	border-radius: 6px;
}
input[type=text],input[type=password]{
	margin: 0 0 1em 0;
	width: 180px;
	height:20px;
	border: 0px;
	padding: 1em;
	border-radius: 3px;
}
input[type=submit],form a{
	padding: 1em;
	background: #0080ff;
	border:none;
	color: white;
	font-family: arial black;
	font-size: 14px;
	border-radius: 3px;
	text-decoration: none;
}
input[type=submit]:hover,form a:hover{
	background: 0040ff,
	cursor: pointer;
}
.contenedor{
	display: inline-block;
	width: 960px;
	margin: 0 auto;
	text-align: center;
	background-color: #B13535;
	border-color: #080808;
}
nav ul li{
	display: inline-block;
	margin-right: 20px;
	color:#1d1d1d;
	cursor: pointer;
	padding: 5px;
	transition: all 0.5s linear;
}
nav ul li:hover{
	background-color: #101d1d;
	color: #1f4e2d;
	border-radius: 5px;
}
nav ul li a{
	text-decoration: none;
}