extends layout

block content
	h1= title
	p Welcome to #{title}
	.row
		.col.s4
			form(method="post")
				div.container
					label(for="CI").center Ordenar
					select(name="seleccion").browser-default
						option(value='', disabled='', selected='') Seleccione turno
						option(value='turno') Turno
						option(value='cargo') Cargo
						option(value='ci') CI
					input(name="buscar",type="text").center
					button.btn.waves-effect.waves-light(type='submit', name='action') Buscar
						i.material-icons.right send
			-if(obreros)
				table#resp.striped.centerd
					thead
						tr
							th Foto
							th Nombre
					tbody