extends layout

block content
  h5.center= title
  div.container
    table#rfi.striped.centerd
      thead
        tr
          th Foto
          th Nombre
          th Codigo
          th Hora Entrada
          th Hora Salida
      tbody