extends layout

block content
  .video.container
    img#im(src='//192.168.43.13:8080/?action=stream')
  .row
    .col.s5
      p 
    .col.s7
      h5.center= title
      table#rfi.striped.centerd
        thead
          tr
            th Foto
            th Nombre
            th Codigo
            th Hora Entrada
            th Hora Salida
        tbody