body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
nav {
	color: #fff;
	background-color: #6EEE7D;
}
a {
  color: #6EEE8D;
}
#imge{
	width: 60px;
}
#im{
	position: absolute;
	top: 100px;
	left: 10px;
	width: 400px;
}
#din{
	position: relative;
	top: 0px;
}