body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
nav {
	color: #fff;
	background-color: #6EEE7D;
}
a {
  color: #6EEE8D;
}
/*form{
	
	display: block;
	position: relative;
	margin: auto;
	height: 250px;
	width: 400px;
	box-shadow: 0 0 4px rgba(0,0,0,.3);
	text-align: center;
}
table{
	
	display: block;
	position: relative;
	margin: auto;
	height: 200px;
	width: 600px;
	box-shadow: 0 0 4px rgba(0,0,0,.3);
}
#stream {
    height: 99%;
    margin: 0px auto;
    display: block;
    margin-top: 20px;
}
#row{
	display: inline-block;
	list-style-type:none;
}
#fotos, #logo{
	width:40px;
	height:50px;
	border: none;
}
img{
	border: none;
}
ul{
	margin: 0;
	padding: 0;
}
a{
	color: #03182B;
	padding-left: center;
}
label{
	display: block;
	margin-bottom: 20px;
	color: rgb(27, 26, 12);
}

input:required{
	background: url("mandatory.png") no-repeat 96% center white;
	outline: 2px solid transparent;
}
input:valid{
	background: url("valid.png") no-repeat 96% center white;
	outline: 2px solid green;
}
input:invalid:focus{
	background: url("invalid.png") no-repeat 96% center white;
	outline: 2px solid red;
}
input[type="submit"]:valid{
	outline-color: transparent;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
	border-radius: 2px;
	background-image: none;
	padding-right: 8px;
}
input[type="submit"]:valid:hover,
input[type="submit"]:valid:focus{
	cursor: pointer;
	box-shadow: none;
}
li{
	display: inline-block;
	list-style-type:none; 
}
input[type=text],input[type=password]{
	margin: 0 0 1em 0;
	width: 110px;
	height: 1px;
	border: 0px;
	padding: 1em;
	border-radius: 3px;
}
input[type=submit],form a{
	padding: 1em;
	background: #0080ff;
	border:none;
	color: white;
	font-family: arial black;
	font-size: 14px;
	border-radius: 3px;
	text-decoration: none;
}
input[type=submit]:hover,form a:hover{
	background: 0040ff,
	cursor: pointer;
}
/*nav ul li{
	display: inline-block;
	margin-right: 20px;
	color: #1d1d1d;
	cursor: pointer;
	padding: 5px;
	transition: all 0.5s linear;
}
nav ul li:hover{
	background-color: #1d1d00;
	color: #A62323;
	border-radius: 5px;
}
nav ul li a{
	text-decoration: none;
}*/
/*input{
	text-align: center;
	background-color: #F4F1F1;
	border: 1px solid #cccccc;
}*/